<div class="container">
  <div class="mr-auto py-2 mb-4 header-bubble" style="width:42%"><b>
    管理者ログイン
  </b></div>

　<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <table class="table table-borderless">
      <tbody>
        <tr> 
          <td><%= f.label :メールアドレス %></td>
          <td style="width:80%">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
          </td>
        </tr>
        <tr>
          <td><%= f.label :パスワード %></td>
          <td>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td style="width:20%">
            <%= f.submit "ログイン", class: "btn btn-primary rounded-pill" %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
  
</div>
