<div class="container">
  <div class="row my-3">
    <div class="float-left mr-auto py-1 mb-4 header-bubble" style="width:15%">
      <h4><b>回答一覧</b></h4>
    </div>
    
    <table class="table table-hover table-inverse">
      <tbody>
        <thead>
          <tr>
            <th width="15%">投稿日時</th>
            <th>内容</th>
            <th width="12%">作成者</th>
            <th></th>
          </tr>
        </thead>
        <% @answers.each do |answer| %>
          <tr>
            <td><%= answer.created_at.strftime('%Y/%m/%d %H:%M') %></td>
            <td><%= answer.answer_content %></td>
            <td><%= answer.user.name %>さん</td>
            <td>
              <%= link_to admin_answer_path(answer.id), class:"btn btn-outline-danger rounded-pill", method: :delete, "data-confirm" => "削除しますか？" do %>
                <i class="fa-regular fa-trash-can"></i>
              <% end %>             
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>  
</div>

<!-- ページネーション -->
<div class="pagination pagination-sm justify-content-center">
  <%= paginate @answers, theme: 'twitter-bootstrap-4' %>
</div>

