<!--フラッシュメッセージ-->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>
  
<% if flash[:danger] %>
  <div class="alert alert-danger d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>&nbsp;<%= flash[:danger] %></div>
  </div>
<% end %>

<div class="container">
  <div class="center-block text-center mt-3" style="width:30%">
    <% if flash[:notice] %>
      <div class="alert alert-success d-flex align-items-center" role="alert">
        <%= flash[:notice] %>
      </div>  
    <% end %>
  </div>
  <div class='row align-items-center mt-3'>
    <div class="float-left mr-auto py-1 mb-4 header-bubble" style="width:15%">
      <h4><b>お題一覧</b></h4>
    </div>
    <div class="col d-md-flex mb-3 justify-content-md-end">
      <%= link_to new_public_topic_path, class: 'btn btn-success btn-lg rounded-pill' do %>
        <i class="fa-regular fa-pen-to-square"></i>
        お題を作る
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col d-md-flex mb-1 justify-content-md-end">
      <%= link_to '新着順', public_topics_path %>
      | <%= link_to 'いいねの多い順', public_topics_path(sort: "favorite_count") %>
      | <%= link_to '発言の多い順', public_topics_path(sort: "answer_count") %>
    </div>
  </div>
  <%= render 'index', topics: @topics, user: @user %>
</div>