<!--フラッシュメッセージ(devise)-->
<div class="flash-notifications">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: key) %>
  <% end %>
</div>

<div class="container">
  <div class='row align-items-center mt-3'>
    <div class="float-left mr-auto py-1 mb-4 header-bubble" style="width:15%">
      <h4><b>お題一覧</b></h4>
    </div>
    <div class="col d-md-flex mb-3 justify-content-md-end">
      <%= link_to new_public_topic_path, class: 'btn btn-success btn-lg rounded-pill' do %>
        <i class="fa-regular fa-pen-to-square"></i>
        お題を作る
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col d-md-flex mb-1 justify-content-md-end">
      <%= link_to '新着順', public_topics_path %>&nbsp;
      |&nbsp;<%= link_to 'いいねの多い順', public_topics_path(sort: "favorite_count") %>&nbsp;
      |&nbsp;<%= link_to '回答の多い順', public_topics_path(sort: "answer_count") %>
    </div>
  </div>
  <%= render 'index', topics: @topics, user: @user %>
</div>