<div class="container">
  <div class="mt-4">
    <% if @topic.errors.any? %>
      <div class="alert alert-danger" role="alert"> 
        <%= @topic.errors.count %>件のエラーが起きています。
        <ul>
          <% @topic.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <h4><span class ="marker-red"><b>お題を作る！</b></span></h4><br>
    
    <%= form_with model: @topic, url: public_topics_path, method: :post, local: true do |f| %>
      <div>  
        <div class="form-group row">
          <%= f.label :topic_title, "お題", {class: 'col-sm-2 col-form-label'} %>
          <%= f.text_field :topic_title, :size=>"70", placeholder: "賛成/反対 または A/B かで答えられるお題を書いてください。" %>
        </div> 
        
        <div class="form-group row">
          <%= f.label :option1, "選択肢１", {class: 'col-sm-2 col-form-label'} %>
          <%= f.text_field :option1, :size=>"20" %>派
        </div> 
        
        <div class="form-group row">
          <%= f.label :option2, "選択肢２", {class: 'col-sm-2 col-form-label'} %>
          <%= f.text_field :option2, :size=>"20" %>派
        </div> 
        
        <div class="form-group row">
          <%= f.label :genre, "お題のジャンル", {class: 'col-sm-2 col-form-label'} %>
          <%= f.collection_select :genre_id, Genre.all, :id, :name, options = {prompt: '選択してください'} %>
        </div>  
  
        <div class="text-center">
          <%= f.submit 'お題を投稿する', class: "btn btn-outline-primary" %>
        </div>
      </div>  
    <% end %>
  </div>
</div>
