<p>public/topics/show.html.erb</p>
<div class="container">
  <div style="d-flex flex-column justify-content-start">
    <table width="100%">
      <thead>
        <tr>
          <th></th>
          <th>お題</th>
          <th>お題のジャンル</th>
        </tr>          
      </thead>
      <tbody>
        <tr>
          <td><%= link_to @user.name, public_user_path(@user.id) %>さん</td>
          <td>
            <span class="balloon2-left"><%= @topic.topic_title %></span>
          </td>
          <td><%= @topic.genre.name %></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%= @topic.option1 %>派：<%= @count_a %>
          </td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%= @topic.option2 %>派：<%= @count_b %>
           </td>
          <td></td>
        </tr>        
        <tr>
          <td></td>
          <td>
            どちらでもない派：<%= @count_c %>
          </td>
          <td></td>
        </tr>        
      </tbody>
    </table>
    
    <!--投票結果のプログレスバー-->
    <% unless (@count_a + @count_b + @count_c) == 0 %>
      <% sum = @count_a.to_f + @count_b.to_f + @count_c %>
      <div class="progress" style="max-width: 100%; height: 40px;">
        <div class="progress-bar" style="width: <%= @count_a / sum * 100 %>%; background-color: #F6CA5B">
          <%= @topic.option1 %> <%= (@count_a / sum * 100).round %>%
        </div>
        <div class="progress-bar progress-bar-stripped" style="width: <%= @count_b / sum * 100 %>%; background-color: #D4A04E">
          <%= @topic.option2 %> <%= (@count_b / sum * 100).round %>%
        </div>
        <div class="progress-bar progress-bar-stripped" style="width: <%= @count_c / sum * 100 %>%; background-color: #F6795B">
          どちらでもない <%= (@count_c / sum * 100).round %>%
        </div>
      </div>
    <% end %>
  
    <div class="card">
      <div class="card-header">
        <strong>みなさんのご意見</strong><%= @alart %>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>投票された票</th>
            <th>回答内容</th>
            <th>回答者の名前</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @answers.each do |answer| %>
          <tr>
            <% if answer.option == "1" %>
              <td><%= @topic.option1 %>派</td>
            <% elsif answer.option == "2" %>
              <td><%= @topic.option2 %>派</td>
            <% else %>
              <td>どちらでもない派</td>
            <% end %>
            <td><%= answer.answer_content %></td>
            <td><%= answer.user.name %>さん</td>
            <td id="answer-delete">
              <% if answer.user == current_user %>
                <%= link_to '削除', public_topic_answer_path(@topic, answer), class:"btn btn-outline-danger rounded-pill", method: :delete, "data-confirm" => "削除しますか？" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
    <h4 style="margin-top:20px"><span class="marker-red">回答してみる！</span></h4>
    <%= form_with(model: [@topic, @answer], url: public_topic_answers_path(@topic.id), method: :post, local: true) do |f| %>
      <table>
        <tbody>
          <ul class="list-unstyled">
            <li><b>票を一つ選んでください。</b></li>
            <li>
              <ul><%= @alart %></ul>
              <ul>
              <%= f.radio_button :option, 1 %>
              <%= @topic.option1 %>派
              </ul>
            </li>
            <li>          
              <ul>
              <%= f.radio_button :option, 2 %>
              <%= @topic.option2 %>派
              </ul>          
            </li>
            <li>          
              <ul>
              <%= f.radio_button :option, 0 %>
              どちらでもない派
              </ul>          
            </li><br>

            <li><b>あなたのご意見</b></li>
            <li>
              <%= f.text_area :answer_content, rows: '5', placeholder: "ご意見はこちらに書いてください。", class:"w-100" %>
              <%= f.submit "OK" %>
            </li>
          </ul>
        </tbody>
      <table>
    <% end %>
  </div>
</div>

