<div class="container">
  <p>public/registrations/new.html</p>

  <h5 class="bg-light text-dark text-center" style="width:30%">
    初めて利用する方
  </h5>
  <h9>
    ※ユーザ登録なしでも閲覧可能です。<%= link_to "ゲストログイン", root_path %>からお入りください。
  </h9>
 
  <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>

    <table class="table table-borderless">
      <tbody>
        <tr>
          <td style="width:20%">名前</td>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <td style="width:20%">メールアドレス</td>
          <td><%= f.email_field :email, autocomplete: "email" %></td>
        </tr>          
        <tr>
          <td>パスワード
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %>文字以上)</em>
            <% end %>            
          </td>
          <td>
            <%= f.password_field :password, autocomplete: "new-password" %>
          </td>
        </tr>
        <tr>
          <td>パスワード(確認用)</td>
          <td>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-2"><%= f.submit "ユーザー登録", class:'btn btn-sm btn-success' %></div>
    </div><br>

  <% end %>

  <h5 class="bg-light text-dark text-center" style="width:30%">
    すでに登録済みの方
  </h5>
  
  <h6>
    <%= link_to "こちら", new_user_session_path %>からログインしてください。
  </h6>
    
</div>
