<div class="container">
  <div class="row my-3">
    <h4>お題の検索："<%= params[:word] %>"</h4><br>
    
    <table class="table table-hover table-inverse">
      <tbody>
        <thead>
          <tr>
            <th>お題</th>
            <th>ジャンル</th>
            <th>作成者</th>
            <th>発言人数</th>
          </tr>
        </thead>
        <% @topics.each do |topic| %>
          <tr>
            <td><%= link_to topic.topic_title, public_topics_path(topic.id) %></td>
            <td><%= topic.genre.name %></td>
            <td><%= link_to topic.user.name %>さん</td>
            <td><%= topic.answers.count %>人</td>
          </tr>
        <% end %>
      </tbody>
   </table>
  </div>   
</div>