 /admin/users/:id/edit
<div class="container">
  <div class="mr-auto py-2 mb-4 header-bubble" style="width:40%">
    <b><%= @user.name %>さんの登録編集ページ</b>
  </div>
    
    <%= form_with model: @user, url: admin_user_path(@user), method: :patch, local: true do |f| %>

      <table class="table table-borderless">
        <tr>
          <th style="width:20%">ID</th>
          <td style="width:80%"><%= @user.id %></td>
        </tr>
        <tr>
          <th>名前</th>
          <td class="form-inline">
            <%= f.text_field :name %>&emsp;            
          </td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= f.email_field :email, autocomplete: "email" %></td>
        </tr>
        <tr>
          <th>ステータス</th>
          <td>
            <%= f.radio_button :is_deleted, :true %>
            <%= f.label :is_deleted, "退会" %>
            <%= f.radio_button :is_deleted, :false %>
            <%= f.label :is_deleted, "有効" %> 
          </td>
        </tr>
        <tr>
          <td></td>
          <td style="width:20%">
            <%= f.submit "変更を保存", class: "btn btn-sm btn-success" %>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
</div>