admin/users/index.html.erb
<div class="container">
  <div class="row my-3 mx-auto">
    <h4>ユーザー一覧</h4>
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
          <th></th>
        </tr>
      </thead>
      
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td>
              <%#= link_to admin_user_path(user.id) do %>
                <%= user.name %>
              <%# end %>
            </td>
            <td><%= user.email %></td>
            <td>
              <% if user.is_deleted == false %>
                <p class="text-primary"><b>有効</b></p>
              <% else %>
                <p class="text-muted"><b>退会</b></p>
              <% end %>
            </td>
            <td>
              <%= link_to "ステータスの変更", edit_admin_user_path(user.id), class: "btn btn-success" %>
            </td>
          </tr>
        <% end %>
        <%= paginate @users %>
      </tbody>
    </table>
  </div>
</div>