<div class="container">
  <div class="row my-3 mx-auto">
    <div class="float-left mr-auto py-1 mb-4 header-bubble" style="width:20%">
      <h4><b>ユーザー一覧</b></h4>
    </div>
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>名前</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
          <th></th>
        </tr>
      </thead>
      
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td>
              <%= user.name %>
            </td>
            <td><%= user.email %></td>
            <td>
              <% if user.is_deleted == false %>
                <p class="text-primary"><b>有効</b></p>
              <% else %>
                <p class="text-muted"><b>停止</b></p>
              <% end %>
            </td>
            <td>
              <!--ゲストユーザー(id:1)の時はボタン非表示-->
              <% unless user.id == 1 %>
                <%= link_to "ステータスの変更", edit_admin_user_path(user.id), class: "btn btn-bd-purple rounded-pill" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- ページネーション -->
<div class="pagination pagination-sm justify-content-center">
  <%= paginate @users, theme: 'twitter-bootstrap-4' %>
</div>
