<% if flash[:danger] %>
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>
  <div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>&nbsp;<%= flash[:danger] %><</div>
  </div>
<% end %>

<div class="container">
  <div class="mr-auto py-2 mb-5 header-bubble" style="width:42%"><b>ユーザーの方はこちらからログインしてください。</b></div>

  <%= form_with model: @user, url: user_session_path, local: true do |f| %>
    <table class="table table-borderless"  style="margin-bottom:30px;">
      <tbody>
        <tr>
          <td><%= f.label :メールアドレス %></td>
          <td style="width:80%">
            <%= f.email_field :email, autofocus: true, placeholder: "sample@example.com" %>
          </td>
        </tr>
        <tr>
          <td><%= f.label :パスワード %></td>
          <td>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td style="width:20%">
            <%= f.submit "ログイン", class: "btn btn-primary rounded-pill" %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>

  <div class="mr-auto py-2 my-5 header-bubble" style="width:42%"><b>初めて利用する方</b></div>
  <div class="col d-md-flex justify-content-md-start">
    <h6>
      <%= link_to "こちら", new_user_registration_path %>からユーザー登録を行ってください。
    </h6>
  </div>
</div>