<div class="container">
  
  <p>public/sessions/new.html</p>
  
  <h6 class="bg-light text-dark text-center" style="width:40%">
    ユーザーの方はこちらからログインしてください。
  </h6><br>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <table class="table table-borderless">
      <tbody>
        <tr> 
          <td><%= f.label :メールアドレス %></td>
          <td style="width:80%">
            <%= f.email_field :email, autofocus: true, placeholder: "sample@example.com" %>
          </td>
        </tr>
        <tr>
          <td><%= f.label :パスワード %></td>
          <td>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td style="width:20%">
            <%= f.submit "ログイン", class: "btn btn-primary" %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>

  <h6 class="bg-light text-dark text-center" style="width:30%">
    初めて利用する方
  </h6>
  <br>
  <h6>
    <%= link_to "こちら", new_user_registration_path %>からユーザー登録を行ってください。
  </h6>
  
</div>
