<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-warning navbar-fixed-top">
    <div class="navbar-brand">
      <%= link_to root_path do %>
        <%= image_tag 'logo.png', size: '70x70' %>
      <% end %>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <% if user_signed_in? %>  
        <strong><%= current_user.name %>さん、いらっしゃい！</strong>
      <% end %>
   
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item" style="list-style: none">
            <div class="icons">
              <%= link_to public_user_path(current_user), class: "nav-link text-light" do %>
                <i class="fa-regular fa-bookmark"></i> マイページ
              <% end %>
            </div>
          </li>
          <li class="nav-item" style="list-style: none">
            <%= link_to public_topics_path, class: "nav-link text-light" do %>
              <i class="fa-solid fa-table-list"></i> お題一覧
            <% end %>
          </li>
          <li class="nav-item" style="list-style: none">
            <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light' do %>
              <i class="fa-solid fa-right-from-bracket"></i> ログアウト
            <% end %>
          </li>
          
          <!-- 検索バー -->
          <div class="form-inline">
            <%= form_with url: search_path, local: true, method: :get do |f| %>
              <%= f.text_field :word, placeholder: "お題の検索", class: "keyword_search" %>
              <%= f.collection_select :genre_id, Genre.all, :id, :name, {:prompt => "ジャンル"}, { "class" => "collection-select" } %>
              <%= f.button :type => "submit", class: "btn btn-outline rounded-pill align-baseline" do %>
                <i class="fa-solid fa-magnifying-glass"></i>
                検索
              <% end %>
            <% end %>
          </div>
          
        <% else %>
          <li class="nav-item ml-auto" style="list-style: none">
            <%= link_to new_user_registration_path, class: 'nav-link text-light' do %>
              <i class="fa-solid fa-user-plus"></i> ユーザー登録
            <% end %>
          </li>
          <li class="nav-item" style="list-style: none">
            <%= link_to new_user_session_path, class: 'nav-link text-light' do %>
              <i class="fa-solid fa-right-to-bracket"></i> ログイン
            <% end %>  
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
